html, body, *
{
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}
.header
{
    color: #FF0000;
    text-align: center;
    position: absolute;
}
.nav-bar
{

}
.h3-nav-bar
{
    
}