.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.footer {
    position: fixed;
    top: 90%;
    left: 0%;
    height: 100px;
    width: 100%;
    background-color: rgb(153, 245, 202);
}

.copyright {
    color: #FF0000;
}